
laravel-quiosco/node_modules
laravel-quiosco/public/build
laravel-quiosco/public/hot
laravel-quiosco/public/storage
laravel-quiosco/storage/*.key
laravel-quiosco/vendor
laravel-quiosco/.env
laravel-quiosco/.env.backup
laravel-quiosco/.env.production
laravel-quiosco/.phpunit.result.cache
laravel-quiosco/Homestead.json
laravel-quiosco/Homestead.yaml
laravel-quiosco/auth.json
laravel-quiosco/npm-debug.log
laravel-quiosco/yarn-error.log
laravel-quiosco/.fleet
laravel-quiosco/.idea
laravel-quiosco/.vscode
laravel-quiosco/composer.lock

# Logs
react-quiosco/logs
react-quiosco/*.log
react-quiosco/npm-debug.log*
react-quiosco/yarn-debug.log*
react-quiosco/yarn-error.log*
react-quiosco/pnpm-debug.log*
react-quiosco/lerna-debug.log*

react-quiosco/node_modules
react-quiosco/dist
react-quiosco/dist-ssr
react-quiosco/*.local

# Editor directories and files
react-quiosco/.vscode/*
react-quiosco/!.vscode/extensions.json
react-quiosco/.idea
react-quiosco/.DS_Store
react-quiosco/*.suo
react-quiosco/*.ntvs*
react-quiosco/*.njsproj
react-quiosco/*.sln
react-quiosco/*.sw?
react-quiosco/package-lock.json
